<div class="responsive__header global-header">

<div class="flag flag--middle">
  <div class="flag__hd">
   <ul class="hList hList--middle">
                <li>
                    <a href="/">
                    <div class="header__logo"></div>
                    </a>
                  </li>
          
            </ul></div>
    <div class="flag__bd txt--align-right">
     <nav role="navigation">
             <ul id="toggle-nav-1" class="header__mobileUtil">
              <li>
                <button class="hamburger__container">
                <span id="hamburger-1" class="hamburger__navicon"></span>
                </button>
              </li>
            </ul>
            </nav>
            
            </div>
</div>
   <div id="navMenu" >
          <div id="navMenu-vert-1" class="togglePanel nav--hide" ref="toggle">
            <nav role="navigation">
              <ul class="vList vList--piped navMenu--vert">

                <li><a class="txt nav__link nav--inpage--item">What is a Key Issue?</a></li>
                <li><a clase="txt nav__link nav--inpage--item">Explore the App</a></li>
                <li><a class="txt nav__link nav--inpage--item">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
</div>