.wrapper {
    width: 100%;
    padding-right: 1rem;
    position: relative;
    @include borderBox();
}



//----------------------------------------------------
// Media Queries
//----------------------------------------------------
@media (min-width: $breakpoint-large) {
    .wrapper {
        max-width: $site-width;
        margin: 0 auto;
        padding: 0;
    }    
}