<div class="animated fadeIn">


    <div class="hero vr">
    <div class="wrapper">

    <div class="content">
           
             <img src="../../assets/header_logo.png" alt="Key Collector Logo" class="header__logo" />
            <h1 class="txt txt--color-white">Key Collector Comics</h1>
            <div class="txt txt--color-white vr">The world's first key issue database and price guide available on your mobile app.</div>
          
            
        </div>


    <div class="grid grid--centered grid--middle">

      <div class="grid__col grid__col--8of12">
           <h1 class="txt">Welcome to the Origin of a Better Comic Book Collecting Experience</h1>
           <div class="txt vr">The world's first key issue database and price guide available on your mobile app.</div>

        </div>
    
      <div class="grid__col grid__col--4of12">
          <img src="../../assets/searchScreen_phone.png" alt="Key Collector Mobile Phone" /> 

        </div>


       

    
    </div>

   

  
   
    </div>
    </div>
    

   
    
       <!--<div class="content">
           
             <img src="../../assets/header_logo.png" alt="Key Collector Logo" class="header__logo" />
            <h1 class="txt txt--color-white">Key Collector Comics</h1>
            <div class="txt txt--color-white vr">The world's first key issue database and price guide available on your mobile app.</div>
            <img src="../../assets/searchScreen_phone.png" alt="Key Collector Mobile Phone" /> 
            
        </div>-->

                
    </div>
 
    <!-- <div class="hero--phone vr">

        <div class="content">
            <img src="../../assets/header_logo.png" alt="Key Collector Logo" class="header__logo" />
            <h1 class="txt txt--color-white">Key Collector Comics</h1>
            <div class="txt txt--color-white vr">The world's first key issue database and price guide available on your mobile app.</div>
            <img src="../../assets/searchScreen_phone.png" alt="Key Collector Mobile Phone" /> 
            
        </div>

                
    </div>-->

